asgiref==3.9.0
attrs==25.3.0
boto3==1.39.9
botocore==1.39.9
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.0.4
cligj==0.7.2
decorator==5.2.1
Django==5.2.4
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
future==1.0.0
geocoder==1.38.1
geojson==2.5.0
geopandas==1.1.1
idna==3.10
jmespath==1.0.1
jsonschema==3.2.0
jsonseq==1.0.0
mapbox-tilesets==1.14.0
Markdown==3.8.2
mercantile==1.1.6
numpy==2.3.1
packaging==25.0
pandas==2.3.1
psycopg==3.2.9
PyJWT==2.9.0
pyogrio==0.11.0
pyproj==3.7.1
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
ratelim==0.1.6
requests==2.32.4
requests-toolbelt==1.0.0
s3transfer==0.13.1
setuptools==80.9.0
shapely==2.1.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
