body { margin: 0; padding: 0; }
#map { position: absolute; width: 100%; }

.map-overlay {
    display: none;
    font: 12px/20px sans-serif;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
}

.map-overlay-inner {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
}
