{% extends 'templates-authentication/index.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <form id="login-form">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">User name:</label>
            <input name="email" id="email" placeholder="Enter your email" />
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input name="password" type="password" id="password" placeholder="Enter your password" autocomplete="on" />
        </div>
        <p id="error-message" style="display: none">Invalid login details</p>
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'signup-screen' %}">
        <button type="button" class="btn">Sign-up instead</button>
    </a>
</div>
<script>
document.getElementById("login-form").addEventListener("submit", event => {
    event.preventDefault();
    const form = event.target;
    const email_input = form.email.value;
    const password_input = form.password.value;
    LOGIN(email_input, password_input);
});
</script>
{% endblock %}