{% extends 'templates-authentication/index.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <form id="signup-form">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">User name:</label>
            <input name="email" id="email" placeholder="Enter your email" />
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input name="password" type="password" id="password" placeholder="Enter your password" autocomplete="on" />
        </div>
        <div class="input-group">
            <label for="password">Repeat Password:</label>
            <input name="password2" type="password" id="password2" placeholder="Repeat your password" autocomplete="on" />
        </div>
        <p id="error-message" style="display: none">Invalid sign-up details</p>
        <button type="submit">Sign-up</button>
    </form>
    <a href="{% url 'login-screen' %}">
        <button type="button" class="btn">Login instead</button>
    </a>
</div>
<script>
document.getElementById("signup-form").addEventListener("submit", event => {
    event.preventDefault();
    const form = event.target;
    const email_input = form.email.value;
    const password_input = form.password.value;
    const password2_input = form.password2.value;
    if (password_input && (password_input === password2_input)) {
        SIGNUP(email_input, password_input)
    }
    else {
        console.log("Unmatched password.")
        showErrorMessage();
    }
});
</script>
{% endblock %}